@charset "UTF-8";
header {
    display: flex;
    color: rgb(0, 39, 126);
}

.logo{
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}
.menu{
    margin: 0 0 0 auto;
}

ul {
    display: flex;
    list-style: none;
}

ul li a{
    margin-left: 40px;
    text-decoration: none;
    position: relative;
    right: 20px;
    font-weight: bold;
    color: rgb(0, 39, 126);
}

P {
    position: relative;
    top: 240px;
    left: 0px;
    font-size: 60PX;
}

.box1 {
    background-color:rgb(0, 39, 126);
    background-repeat: no-repeat;
    height: 170px;
    width:  800px;
    position: relative;
    top: 170px;
}

.box2 {
    background-repeat: no-repeat;
    position: absolute;
    top:   90px;
    left: 500px;
    height: 450px;
    width:  700px;
    background-image: url(firstview.jpeg)
}